<div class="title">
  <h1>Ver Detalles de unidades</h1>
</div>

<app-spinner *ngIf="loading"></app-spinner>

<div *ngIf="unidad != null" class="container">
<mat-card class="card">
  <mat-card-title>Tipo de unidad:</mat-card-title>
   <mat-card-subtitle>{{unidad.descripcion}}</mat-card-subtitle>
  <mat-card-content>
    <p><strong>Estado:</strong>
      {{unidad.estado}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button routerLink="/listaUnidades">Volver</button>
  </mat-card-actions>
</mat-card>
</div>
